.underline-3.style-2.title:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 208.01 8.3'%3E%3Cpath fill='%2332335a' d='M64.42,2.42Q42.78,1.46,21.19,0c-2.8-.19-4.09.89-3.87,2L3.92,1.87c-5.13-.05-5.28,3.87-.12,3.92l60.49.55c46.63,2.08,93.34,2.51,139.81,1.27,5-.13,5.39-3.87.13-3.92Z'/%3E%3C/svg%3E");
}

.title-color {
  color: #32335A;
}

.container-img {
  max-width: 25rem;
  height: 18.6rem;

}

.container-img img {
  max-width: 25rem;
  height: 18.6rem;
}

.container-color,
.bg-color {
  background: #DF9841;
}

.style-card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}

.style-icon {
  width: 5rem;
}

.style-diretora {
  max-width: 35rem;
  margin-top: -320px;
}

.img-section {
  width: 60rem !important;
}

.bg-color {
  background: #32335A;
}

@media (max-width: 1200px) {
  html {
    font-size: 97.75% !important;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .container-img {
    margin-left: 9.5rem;
  }

  .img-section {
    width: 35rem !important;
    margin-left: 3rem;
  }
}

@media (max-width: 768px) {
  .container-style {
    display: flex !important;
    flex-direction: column !important;
  }
}

@media (max-width: 768px) {
  .container-img {
    max-width: 20rem;
    height: 15.6rem;

  }

  .container-img img {
    max-width: 20rem;
    height: 15.6rem;
  }
}


@media (max-width: 375px) {
  .container-img {
    max-width: 18rem;
    height: 13.6rem;
    margin-left: -1.5rem;
  }

  .container-img img {
    max-width: 18rem;
    height: 13.6rem;
  }

}